fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.8.2
pydantic-settings==2.3.4
langchain
langchain-core
langchain-ollama
langchain-chroma
chromadb
langchain-text-splitters
crewai
playwright==1.44.0
feedparser==6.0.11
requests==2.32.3
transformers==4.42.4
torch==2.3.1
websockets==12.0
cachetools==5.3.3
neo4j==5.21.0
